@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

input {
	user-select: none;
	outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #101026 inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: #FFFFFF !important;
}
